body {
    background-color: #CFD0CF;
}

header {
    font-family: Arial;
    font-weight: bold;
    color: #434344;
    line-height: 47px;
    font-size: 42px;
    margin: 40px auto 40px auto;
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 720px;
    margin: auto;
}

.card {
    font-size: 0;
    width: 130px;
    height: 130px;
    margin: 25px;
    background: red;
}